<div class="home-container">
  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <p class="offer">Save up 30% off</p>
          <h1 class="hero_title">Groceries Made Easy, Anytime, Anywhere!</h1>
          <div class="d-flex gap-3">
            <button class="CTA_btn" (click)="onShop()">ORDER NOW</button>
            <button class="low_btn">GET STARTED</button>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <img
            class="hero_image"
            src="/assets/hero_image.png"
            alt="Groceries"
          />
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
