<footer class="bg-black text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="copyright_head">About Us</h5>
        <p class="about_us">
          At Shop Gerocery, we provide fresh, high-quality <br />
          groceries delivered straight to your doorstep with <br />
          convenience and affordability. Our goal is to make <br />
          grocery shopping easy and accessible for <br />
          everyone, anytime, anywhere.
        </p>
      </div>
      <div class="col-md-3">
        <h5 class="copyright_head">Quick Links</h5>
        <div class="quick_list">
          <ul class="list-unstyled">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/shopping">Products</a></li>
            <li><a routerLink="/my-cart">Cart</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="copyright_head">Contact Us</h5>
        <div class="contact_us">
          <p>1234 Main street, Chennai Tamilnadu</p>
          <p>Email: vicky@gerocy.com</p>
          <p>Phone No: 99934993595387</p>
        </div>
      </div>
    </div>
  </div>
</footer>
